<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayGround I</title>
</head>
<style>
    h1 {
        text-align: center;
        } 
    .box{
        background-color:rgb(110, 159, 179);
        height: 200px;
        width: 200px;
        margin-left: 100px;
        display: inline-block;
        border: solid 2px black;
    }
</style>
<body>
    <h1>Welcome</h1>
    <div></div>
    {% for x in range(num): %}
        <div class="box" style="background-color: {{ color }};"></div>
    {% endfor %}
</body>
</html>