.container {
    display: flex;
    flex-direction: row;
}

img {
    width: 400px;
    height: 400px;
}

.container > div >p {
    text-align: center;
}

.go-back {
    position: relative;
    top: 500px;
    right: 1500px;
}